@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@300&display=swap');

* {
    box-sizing: border-box;
}

:root{
    
    --font-title: 'Lato', sans-serif;
    --font-content: 'Poppins', sans-serif;
    /* #1F4027; */
    --font-color-content: red;
    --font-color-title: #f0b600;
    --main-background-color: #8abaae;
}

body{
    font-family: var(--font-content);
    font-size: clamp(1rem 2.5vh 2rem);
    background: var(--main-background-color);
}

h1, h2, h3 {
    font-family: var(--font-content);
    color: var(--font-color-title);
    text-align: center;
}

.nav-container{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.nav-container li{
    margin: 1em;
    float: right;
}

a {
    text-decoration: none;
    color: var(--font-color-content);
    margin: 0;
}

#main-container{
    width: 80%;
    margin: 5% auto;
}

figure{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    float: right;
    right: 0;
    margin:0;
    padding:0; */
    position: relative;
    bottom: 0;
    margin: 50px;
    right: 0;
}

figcaption p{
    float: right;
    font-size: clamp(0.5rem 2.5vh 1rem);

}
#robot{
    height: 120px;
    object-fit: scale-down;
    margin: 1em;
    float: right;
}

.bottom p{
    text-align: center;
}

.bottom {
    position: sticky;
    bottom: 0;
    width: 100%;
    margin: auto;
}

form{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

form > label{
    margin: 1em;
}

form > input{
    margin: 1em;
}

#logo {
    height: 75px;
    object-fit: scale-down;
}