@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@300&display=swap');

* {
    box-sizing: border-box;
}

:root{
    
    --font-title: 'Lato', sans-serif;
    --font-content: 'Poppins', sans-serif;
    /* #1F4027; */
    --font-color-content: #1F4027;
    --font-color-title: #1F4027;
    --main-background-color: #8abaae;
}

body{
    font-family: var(--font-content);
    font-size: clamp(1rem 2.5vh 2rem);
    /* background: var(--main-background-color); */
}

h1, h2, h3 {
    font-family: var(--font-content);
    color: var(--font-color-title);
    text-align: center;
}

.nav-container{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.nav-container li{
    margin: 1em;
    float: right;
}

a {
    text-decoration: none;
    color: var(--font-color-content);
    margin: 0;
}
a:hover{
    font-weight: bold;
    font-size: large;
    text-decoration: none;
    color: var(--font-color-content);
}

#main-container{
    width: 80%;
    margin: 5% auto;
 
}

.container-img{
    height: fit-content;
    width: 20%;
    display:flex;
    flex-direction: column;
     position: fixed; 
    top: 200px;
    right: 0; 
    float: right;
}

figcaption p{
    float: right;
    font-size: clamp(0.5rem 2.5vh 1rem);

}
#robot{
    height: 120px;
    object-fit: scale-down;
    margin: 1em;
    float: right;
}

#footerText{
    text-align: center;
    padding: 0.2em;
    vertical-align: middle;

}

.footer, .navbar{
    background: var(--main-background-color);
}


form{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

form > label{
    margin: 1em;
}

form > input{
    margin: 1em;
}

#logo {
    height: 75px;
    object-fit: scale-down;
}

.btn{
    background: var(--main-background-color);
}